@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web";
    font-size: 1.25rem;
}

body {
    background-color: #181920;
}

.gradient {
    background-image: linear-gradient(
        45deg,
        #985ae3,
        #fa7e51
    );
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
}

:root {
    --bg-color: #0a0a0a;
    --primary-color: #e3e3e3;
    --secondary-color: #e94747;
    --third-color: #54b2e8;
    --try-again-hover: #5e1317;
    --light-color: #c8c8c8eb;
}

.container {
    padding: 1rem;
    margin-top: 3.5rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Header*/
.header-text {
    font-size: 0.8rem;
    color: #5e617d;
    border-radius: 10px;
    font-weight: 400;
    margin-top: 1.2rem;
    padding-bottom: 1rem;
}

/*Main Content - Intro*/
.main-content {
    padding: 1rem;
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232331;
    border-radius: 1rem;
    box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
}

.intro {
    margin-top: -1rem;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232331;
    border-radius: 1rem;
    box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
    transition: opacity 0.4s;
}

.title {
    @extend .gradient;
    font-family: "Patua One", cursive;
    font-size: 3rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    width: 25rem;
    padding-bottom: 0.4rem;
    margin-bottom: 1rem;
}

.subtitle {
    color: #b5b6dd;
    border-radius: 10px;
    font-weight: 400;
    width: 25rem;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    font-size: 21px;
    text-align: center;
}

.start-btn,
.try-again-btn {
    background-image: linear-gradient(
        45deg,
        #985ae3,
        #fa7e51
    );
    background-size: 100%;
    box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
    color: white;
    border-radius: 10px;
    padding: 0.5rem 1.4rem;
    font-size: 19px;
    margin-top: 3rem;
    cursor: pointer;
    transition: 0.3s;
}

.start-btn:hover,
.try-again-btn:hover {
    background-image: none;
    background-color: transparent;
    border: 2px solid #e97ded;
    color: #fca1ff;
}

/*Main Content - Questions*/
.quiz-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin-top: -7.5rem;
}

.all-questions {
    background-color: #232331;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
    transition: opacity 0.4s;
}

.question-text {
    @extend .gradient;
    font-family: "Patua One", cursive;
    font-size: 1.35rem;
    letter-spacing: 1px;
    line-height: 1.7rem;
    margin-left: 0.8rem;
    width: 25rem;
}

.all-options {
    margin-top: 0.6rem;

    li {
        list-style-type: none;
    }
}

.answer {
    font-family: "Titillium Web";
    color: #b8b9ed;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;

    background-color: #181920;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        color: #a475de;
    }

    &:active {
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
            inset -2px -2px 3px rgba(255, 255, 255, 0.1);
        color: #a475de;
    }
}

.correct-answer {
    color: #a475de;
    cursor: default;

    &:hover,
    &:active {
        color: #a475de;
        box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
    }
}

.disabled-answer {
    color: #b8b9ed;
    cursor: default;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);

    &:hover,
    &:active {
        color: #b8b9ed;
        box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
    }
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 1rem;
    padding: 1rem 0;
    margin-bottom: 0.7rem;
    width: 100%;
    background-color: transparent;

    h5 {
        color: #b8b9ed;
        font-family: "Titillium Web";
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
    }
}

.progress-bar {
    gap: 2rem;
    background-color: #383852;
    width: 90%;
    height: 0.8rem;
    border-radius: 5px;

    div {
        width: 50%;
        height: 0.8rem;
        border-radius: 1rem;
        background-image: linear-gradient(
            45deg,
            #985ae3,
            #fa7e51
        );
        background-size: 100%;
    }
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.7rem;
    width: 95%;
}

.info-item,
.next-item,
.score-item,
.result-item {
    height: 2rem;
    background-color: #1d1e27;
    font-family: "Titillium Web";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28%;
    padding: 0.3rem 0.8rem;
    font-size: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
    cursor: default;
}

.score-item {
    h5 {
        @extend .gradient;
        font-size: 1rem;
        margin: 0;
    }
    span {
        @extend .gradient;
        font-size: 0.9rem;
        font-weight: 600;
    }
}

.info-item {
    width: 32%;
    margin: 0;
    transition: 0.4s;

    h5 {
        font-size: 1rem;
        margin: 0;
        padding: 0;
        color: #bb73be;
        opacity: 100;
    }
}

.result-item {
    width: 32%;
    margin: 0;
    transition: 0.4s;
    background-color: #8c558e;

    h5 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
        color: #181920;
        opacity: 100;
    }
}

.next-item {
    @extend .gradient;

    cursor: pointer;
    i {
        @extend .gradient;
        margin-left: 0.3rem;
        margin-top: 0.2rem;
        cursor: pointer;
    }
    h5 {
        @extend .gradient;
        font-size: 1rem;
        margin: 0;
        transition: 0.4s;
        cursor: pointer;

        &:hover {
            -webkit-text-fill-color: #fca1ff;
            -moz-text-fill-color: #fca1ff;
            background-image: none;
            color: #fca1ff;
        }
    }
}

.next-disabled {
    cursor: default;

    i {
        margin-left: 0.3rem;
        margin-top: 0.1rem;
    }

    h5 {
        @extend .gradient;
        cursor: default;

        &:hover {
            background-image: linear-gradient(
                45deg,
                #985ae3,
                #fa7e51
            );
            background-size: 100%;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            background-clip: text;
        }
    }
}

.final {
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232331;
    border-radius: 1rem;
    box-shadow: 0 5px 20px rgb(0 0 0 / 50%);

    .final-title {
        @extend .gradient;
        font-family: "Patua One", cursive;
        font-size: 3rem;
        letter-spacing: 1px;
        text-align: center;
        font-weight: bold;
        width: 25rem;
        padding-bottom: 0.4rem;
        margin-bottom: 1rem;
    }

    .final-text {
        color: #b5b6dd;
        border-radius: 10px;
        font-weight: 400;
        width: 25rem;
        margin-top: 0.1rem;
        margin-bottom: 1rem;
        text-align: center;
        h5,
        span {
            font-size: 1.1rem;
        }
    }
}

.stars {
    i {
        color: #b5b6dd;
    }
    img {
        width: 1.5rem;
    }
}

.disabled {
    display: none;
}

.hidden {
    pointer-events: none;
    opacity: 0;
    width: 0;
    height: 0;
}

@media (max-width: 710px) {
    .title {
        width: 20rem;
    }

    .subtitle {
        width: 20rem;
    }

    .question-text {
        text-align: center;
        font-size: 1.2rem;
        width: 20rem;
    }

    .info-item,
    .next-item,
    .score-item,
    .result-item {
        h5 {
            font-size: 0.9rem;
        }
    }

    .final {
        .final-title,
        .final-text {
            width: 20rem;
        }
    }
}

@media (max-width: 520px) {
    .title {
        font-size: 2.5rem;
        width: 15rem;
    }

    .subtitle {
        font-size: 1rem;
        width: 15rem;
    }

    .question-text {
        text-align: center;
        font-size: 1.2rem;
        width: 15rem;
    }

    .answer {
        font-size: 0.85rem;
    }

    .information {
        width: 100%;
        gap: 0.8rem;
    }

    .info-item,
    .next-item,
    .score-item,
    .result-item {
        width: 36%;
        padding: 0.3rem 0.5rem;
        h5 {
            font-size: 0.75rem;
        }

        span {
            font-size: 0.8rem;
        }
    }

    .final {
        .final-title,
        .final-text {
            width: 15rem;
        }

        .final-title {
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 430px) {
    .title {
        font-size: 2rem;
        width: 11rem;
    }

    .subtitle {
        font-size: 0.9rem;
        width: 11rem;
    }

    .question-text {
        text-align: center;
        font-size: 1rem;
        line-height: 1.4;
        width: 11rem;
    }

    .all-questions {
        padding: 2rem 1rem;
    }

    .answer {
        font-size: 0.8rem;
    }

    .information {
        display: flex;
        flex-direction: column;
    }

    .info-item,
    .next-item,
    .score-item,
    .result-item {
        width: 45%;
    }

    .final {
        .final-title,
        .final-text {
            width: 11rem;
            h5,
            span {
                font-size: 1rem;
            }
        }

        .final-title {
            font-size: 2rem;
        }
    }
}
