* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web";
    font-size: 1.25rem;
}

body {
    background-image: url(./imagens/background-img.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root {
    --bg-color: #0a0a0a;
    --primary-color: #e3e3e3;
    --secondary-color: #e94747;
    --third-color: #54b2e8;
    --try-again-hover: #5e1317;
    --light-color: #c8c8c8eb;
}

.container {
    padding: 1rem;
    margin-top: 3rem;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Header*/
.header-text {
    font-size: 15px;
    color: var(--light-color);
    border-radius: 10px;
    font-weight: 400;
    margin-top: 1.2rem;
    padding-bottom: 1rem;
}

/*Main Content - Intro*/
.main-content {
    padding: 1rem;
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    text-align: center;
    color: var(--primary-color);
    border-bottom: solid var(--primary-color) 3px;
    font-weight: bold;
    width: 25rem;
    padding-bottom: 0.4rem;
    margin-bottom: 1rem;
    font-size: 45px;
}

.subtitle {
    color: var(--primary-color);

    border-radius: 10px;
    font-weight: 400;

    width: 25rem;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    font-size: 21px;
    text-align: center;
}

#start-btn {
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    padding: 0.3rem 1rem;
    font-size: 19px;
    margin-top: 3rem;
    cursor: pointer;
    transition: 0.7s;
}

#start-btn:hover {
    background-color: var(--try-again-hover);
    color: var(--primary-color);
}

/*Main Content - Questions*/
#question-text {
    color: var(--primary-color);
    font-size: 21px;
    line-height: 32px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 20px;
}

.all-questions {
    width: 29rem;
    padding: 1.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--bg-color);
    height: 16.3rem;
    display: none;
    flex-direction: column;
}

li {
    list-style-type: none;
}

.all-options li {
    text-align: left;
    padding: 8px;
    border-radius: 8px;
    color: var(--primary-color);
    font-family: "Titillium Web";
    font-size: 21px;
    font-weight: 500;
    transition: 0.4s;
}

#number-questions {
    background: transparent;
    margin-top: 0.33rem;
    color: var(--primary-color);
    font-size: 17px;
    font-weight: 500;
    max-height: 1.5rem;
    margin-left: 0.8rem;
}

#continue-btn {
    background-color: transparent;
    border: transparent;
    margin-top: 0.5rem;
    color: var(--light-color);
    font-size: 18px;
    margin-right: 0.4rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: 0.7s;
}

#continue-btn:hover {
    color: var(--secondary-color);
}

.next-question {
    display: flex;

    justify-content: center;
    align-items: center;
}

#icon-next-question {
    color: var(--light-color);
    margin-top: 0.6rem;
}

.number-questions {
    font-size: 17px;
    color: var(--light-color);
}

.footer-questions {
    display: none;
    flex-direction: column;
}

.try-again-btn {
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    padding: 0.3rem 1rem;
    font-size: 19px;
    margin-top: 3rem;
    cursor: pointer;
    transition: 0.7s;
}

.try-again-btn:hover {
    background-color: var(--try-again-hover);
    color: var(--primary-color);
}

.text-final {
    color: var(--primary-color);
    background-color: var(--bg-color);
    border: var(--primary-color) solid 1px;
    border-radius: 10px;
    padding: 1rem 1.4rem;
    max-width: 450px;
    font-size: 15px;
    text-align: center;
    height: 7rem;
}

.check-hover:hover {
    cursor: pointer;
    font-family: "Titillium Web";
    color: var(--secondary-color);
}

.uncheck-hover:hover {
    color: var(--primary-color);
    cursor: pointer;
}

#btn-offcanvas {
    border: none;
    border-radius: 0;
    padding: 0.1rem 0.5rem;
    background-color: black;
    border-bottom: rgb(215, 215, 215) solid 2px;
    color: rgb(215, 215, 215);
    width: 18rem;

    margin-top: -2rem;
    display: none;
    cursor: pointer;
    transition: 0.7s;
}

#btn-offcanvas:hover {
    color: var(--third-color);
}

#offcanvasMovies {
    background-color: var(--bg-color);
    color: var(--primary-color);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 17px;
    width: 18rem;
    display: flex;
    flex-direction: column;
}

#offcanvasMovies h5 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    font-size: 21px;
}

#text-movie {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 18px;
}

.btn-trailer {
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    padding: 0.3rem 1rem;
    font-size: 19px;
    margin-bottom: 3rem;
    margin-left: 2rem;
    cursor: pointer;
    transition: 0.7s;
}

.btn-trailer:hover {
    background-color: var(--try-again-hover);
    color: var(--primary-color);
}

@media (max-width: 700px) {
    .all-questions {
        width: 24rem;
    }
    .text-final {
        max-width: 24rem;
    }
}

@media (max-width: 540px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    #theme-btn {
        background-color: var(--primary-color);
        font-size: 15px;
        margin-bottom: 3rem;
        margin-right: 0;
    }
    #continue-btn {
        margin-right: 0;
    }
    .title {
        font-size: 38px;
        width: 20rem;
    }

    .all-questions {
        width: 20rem;
    }

    #question-text {
        font-size: 18px;
        line-height: 27px;
    }

    .all-options li {
        font-size: 18px;
    }

    .text-final {
        max-width: 20rem;
    }
}

@media (max-width: 520px) {
    .container {
        width: auto;
        height: auto;
        justify-content: center;
        align-content: center;
    }
    .intro {
        margin: 0;
    }
    .main-content {
        margin: 0;
        padding: 0;
    }
    .title {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .all-questions {
        width: auto;
        height: auto;
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    #number-questions {
        margin: 0rem;
        padding: 0;
    }

    .text-final {
        width: auto;
        height: auto;
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    .footer-questions {
        margin-bottom: 3rem;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 445px) {
    .title {
        width: 15rem;
    }

    .subtitle {
        width: 15rem;
    }

    .all-questions {
        width: 15rem;
    }

    .text-final {
        width: 15rem;
        font-size: 13px;
    }
}

@media (max-width: 380px) {
    .title {
        width: 11rem;
    }

    .subtitle {
        width: 11rem;
    }

    .all-questions {
        width: 11rem;
    }

    .text-final {
        width: 11rem;
    }
}
